

button {
   background-color: black;
   color: white;
   border-radius: 5px;
   width: 100px;
   padding: 10px;
   margin: 10px;
}
.logo {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.noDrag {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.bigText {
    font-size: 50px;
}

#houseme-header {
    font-weight: 200;
    font-size: 5em;
    background-color: #fafafa;
    background-image: linear-gradient(to right, rgb(30 64 175), rgb(107 33 168));
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
@media screen and (max-width: 1250px){
    .banner{
       flex-direction: column;
    }
    .banner > img {
        display: none;
    }
    .banner > #header-parent {
        font-size: 0.8em !important;
    }
    .bigText {
        font-size: 3em !important;
    }
 }