h1 {font-size: xx-large; font-weight: bold;}
h2{font-size: x-large; font-weight: bold;}
table{width: 100%;}
button{text-align: center; color: blue; text-decoration: wavy;}
input{box-sizing: border-box;}
.listings{text-decoration: underline; color:forestgreen;}